@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');

* {
    font-family: 'Urbanist', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #16161d;
}

.grid {
    display: grid;
    justify-items: center;
    align-items: center;
    border: 2px solid #16161d;
    border-radius: 1rem;
    padding: .5rem;
    grid-template-columns: repeat(4, 11.5rem);
    grid-template-rows: repeat(4, 11.5rem);
}

img {
    height: 10rem;
    width: 10rem;
    border-radius: 2rem;
    border: 2px solid #000;
}

.wrong {
    position: absolute;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 1rem;
    height: 4rem;
    width: 16rem;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}

.match {
    position: absolute;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 1rem;
    height: 4rem;
    width: 16rem;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}

.error {
    position: absolute;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 1rem;
    height: 4rem;
    width: 16rem;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}

.close {
    cursor: pointer;
}

.refresh {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 7.5rem);
        grid-template-rows: repeat(4, 7.5rem);
    }

    img {
        height: 7rem;
        width: 7rem;
        border-radius: 1rem;
    }
}